In [ ]:
!pip install pycaret

In [ ]:
# Download dataset

!wget "https://dados.agricultura.gov.br/dataset/c7784a6e-f0ec-4196-a1ce-1d2d4784a58e/resource/6ab20c11-73a0-4ab0-8e13-2420d48dd6f5/download/sigefcamposproducaodesementes.csv" -O dataset.csv

--2023-05-28 19:47:41--  https://dados.agricultura.gov.br/dataset/c7784a6e-f0ec-4196-a1ce-1d2d4784a58e/resource/6ab20c11-73a0-4ab0-8e13-2420d48dd6f5/download/sigefcamposproducaodesementes.csv
Resolving dados.agricultura.gov.br (dados.agricultura.gov.br)... 201.57.198.178
Connecting to dados.agricultura.gov.br (dados.agricultura.gov.br)|201.57.198.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46659404 (44M) [text/csv]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>]  44.50M  1020KB/s    in 47s

2023-05-28 19:48:28 (980 KB/s) - ‘dataset.csv’ saved [46659404/46659404]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/dataset.csv", sep=';')
df.head()

,Safra,Especie,Categoria,Cultivar,Municipio,UF,Status,Data do Plantio,Data de Colheita,Area,Producao bruta,Producao estimada
0,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,01/01/2013,NaN,9.5,NaN,38.00
1,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,05/01/2013,NaN,6.0,NaN,24.00
2,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,10/01/2013,NaN,9.5,NaN,38.00
3,2013/2013,Zea mays L.,S2,BRS Gorutuba,Petrolina,PE,Homologado,03/02/2013,NaN,4.5,NaN,15.75
4,2013/2013,Zea mays L.,S2,BRS Gorutuba,Petrolina,PE,Homologado,27/01/2013,NaN,1.6,NaN,5.60

In [ ]:
df.shape

(442174, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442174 entries, 0 to 442173
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Safra              442174 non-null  object
 1   Especie            442174 non-null  object
 2   Categoria          442151 non-null  object
 3   Cultivar           442174 non-null  object
 4   Municipio          442169 non-null  object
 5   UF                 442174 non-null  object
 6   Status             442174 non-null  object
 7   Data do Plantio    442174 non-null  object
 8   Data de Colheita   113515 non-null  object
 9   Area               442174 non-null  float64
 10  Producao bruta     113515 non-null  float64
 11  Producao estimada  442174 non-null  float64
dtypes: float64(3), object(9)
memory usage: 40.5+ MB

In [ ]:
df.rename(columns={
   "Data do Plantio":"Data_Plantio",
   "Data de Colheita":"Data_Colheita",
   "Producao bruta":"Producao_Bruta",
   "Producao estimada":"Producao_Estimada"
}, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442174 entries, 0 to 442173
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Safra              442174 non-null  object
 1   Especie            442174 non-null  object
 2   Categoria          442151 non-null  object
 3   Cultivar           442174 non-null  object
 4   Municipio          442169 non-null  object
 5   UF                 442174 non-null  object
 6   Status             442174 non-null  object
 7   Data_Plantio       442174 non-null  object
 8   Data_Colheita      113515 non-null  object
 9   Area               442174 non-null  float64
 10  Producao_Bruta     113515 non-null  float64
 11  Producao_Estimada  442174 non-null  float64
dtypes: float64(3), object(9)
memory usage: 40.5+ MB

In [ ]:
df.nunique().sort_values()

Status                   5
Categoria                6
Safra                   22
UF                      26
Especie                278
Municipio             2133
Data_Colheita         4087
Data_Plantio          6569
Cultivar             10142
Area                 14488
Producao_Estimada    29000
Producao_Bruta       53474
dtype: int64

In [ ]:
df.isna().sum()

Safra                     0
Especie                   0
Categoria                23
Cultivar                  0
Municipio                 5
UF                        0
Status                    0
Data_Plantio              0
Data_Colheita        328659
Area                      0
Producao_Bruta       328659
Producao_Estimada         0
dtype: int64

In [ ]:
df.dtypes

Safra                 object
Especie               object
Categoria             object
Cultivar              object
Municipio             object
UF                    object
Status                object
Data_Plantio          object
Data_Colheita         object
Area                 float64
Producao_Bruta       float64
Producao_Estimada    float64
dtype: object